<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" >SmartClass Fase 3</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/verApuntes" >Ver Apuntes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ReporteCursos">Reporte Cursos Asignados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/GrafoPre" >Asignacion de Cursos</a>
      </li>
    </ul>
    <a class="nav-link" href="/Cliente">Regresar a Pagina Principal</a>
  </div>
</nav>
<div class="fullscreen">
  <div class="container margen1" >
    <div class="row">
      <div class="col">
      </div>
      <div class="col-12">
        <label for="Titulo" class="form-label">Titulo:</label>
          <input type="text" name="Titulo" class="form-control" placeholder="Titulo Apunte" [(ngModel)]="Titulo" autofocus #titulo>
          <label for="Contenido" class="form-label">Contenido:</label>
          <textarea type="text" name="Contenido" style="width:100%; height:350px" class="form-control" placeholder="Contenido del Apunte" [(ngModel)]="Contenido" #contenido>
          </textarea>

      </div>
      <div class="col">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-10">
      </div>
      <div class="col">

        <button type="button" (click)="Agregar(titulo.value, contenido.value)" class="btn btn-secondary">Guardar</button>

      </div>
    </div>
  </div>
</div>
