.tm-bg-dark {
  background-color: #333333;
}

.h1s{
  margin-left: 5%;
  color: aliceblue;
}

.img {
	margin-top: 5%;
  position: relative;
	border: 1px solid aliceblue;
	width: 100%;
	height: 760px;
	overflow: scroll;
}
