# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\bcatu\Escritorio\EDDProyecto\EDD_SmartClass_201901907\EDD_SmartClass_201901907_\Fase3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
